// 40-pin RGB LCD connector (480x272 panel), same pins as Apicula's
// examples/tangnano20k.cst (pll-nanolcd example). R/G share FPGA pins
// 33-40 with the HDMI output, so an LCD build has no HDMI.
IO_LOC  "lcd_clk" 77;
IO_PORT "lcd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "lcd_hsync" 25;
IO_PORT "lcd_hsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "lcd_vsync" 26;
IO_PORT "lcd_vsync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "lcd_de" 48;
IO_PORT "lcd_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "lcd_bl" 49;
IO_PORT "lcd_bl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC  "lcd_r[0]" 42;
IO_LOC  "lcd_r[1]" 41;
IO_LOC  "lcd_r[2]" 40;
IO_LOC  "lcd_r[3]" 39;
IO_LOC  "lcd_r[4]" 38;
IO_LOC  "lcd_g[0]" 37;
IO_LOC  "lcd_g[1]" 36;
IO_LOC  "lcd_g[2]" 35;
IO_LOC  "lcd_g[3]" 34;
IO_LOC  "lcd_g[4]" 33;
IO_LOC  "lcd_g[5]" 32;
IO_LOC  "lcd_b[0]" 31;
IO_LOC  "lcd_b[1]" 30;
IO_LOC  "lcd_b[2]" 29;
IO_LOC  "lcd_b[3]" 28;
IO_LOC  "lcd_b[4]" 27;
IO_PORT "lcd_r[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_r[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_r[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_r[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_r[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_g[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_g[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_g[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_g[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_g[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_g[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_PORT "lcd_b[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
